# Ignore virtual environment
venv/
.venv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Environment variables
.env

# Streamlit specific
.streamlit/secrets.toml

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS generated
.DS_Store
Thumbs.db

# VS Code
.vscode/
